@using Pharmacy.Repos.Dto

@model UserCreateDto
@{
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
}

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Users"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Користувачі</a></li>
                        <li class="breadcrumb-item"><a href="#!">Новий користувач</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Редагування</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form asp-action="Create">
                                @Html.AntiForgeryToken()

                                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">

                                    <label asp-for="FirstName" class="form-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                               
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" type="text" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <button class="btn btn-primary" type="submit">Створити</button>
                                <a href="/user/index" class="btn btn-outline-dark float-end">Повернутися до списку</a>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
            $(".form-select").select2();
        });
    </script>
 }


 @*

<div class="float-end">
    <a href="/users/index" class="btn btn-outline-dark">Повернутися до списку</a>
</div>
<h1>Новий користувач</h1>
<hr />

<div class="row">

    <form asp-action="Create" class="col-md-4">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" type="text" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Створити</button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }*@
