@model Pharmacy.Core.Order

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
    var statuslist = ViewBag.Status as IEnumerable<string>;
    var selectStatus = ViewData["selectstatus"].ToString();
}


<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Замовлення</a></li>
                        <li class="breadcrumb-item"><a href="#!">Редагування</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Редагувати</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="OrderId" id="modelId" name="modelId" type="hidden" />
                                <div class="form-group">
                                    <label asp-for="OrderId" class="control-label"></label>
                                    <input asp-for="OrderId" class="form-control" disabled />
                                    <span asp-validation-for="OrderId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Total" class="control-label"></label>
                                    <div class="input-group md-3">
                                        <input asp-for="Total" class="form-control" disabled>
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <span asp-validation-for="Total" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="OrderDate" class="control-label"></label>
                                    <input asp-for="OrderDate" class="form-control" disabled />
                                    <span asp-validation-for="OrderDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Status" class="control-label"></label>
                                    <select class="form-control" size="3" id="status" name="status">
                                        @foreach (var r in statuslist)
                                        {
                                            bool selected = false;
                                            @if (r == selectStatus)
                                                selected = true;

                                            <!option value="@r" @(selected ? "selected" : "")>@r</!option>
                                        }
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group form-check">
                                    <input asp-for="IsPaid" type="checkbox" class="form-check-input">
                                    <label asp-for="IsPaid" class="control-label"></label>
                                    
                                    <span asp-validation-for="IsPaid" class="text-danger"></span>
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" value="Змінити" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="float-end">
        <a href="/manager/orders" class="btn btn-outline-dark">Повернутися до списку</a>
    </div>
</div>
