@using Pharmacy.Core
@using Pharmacy.Repos
@model SmallCart
@{
}


<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/cart" title="Manage">Cart(<span style="color: blue;">@Model.NumberOfItems)</span></a>
    </li>

</ul>

