<header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">


	<div class="m-header">
		<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
		<a href="#!" class="b-brand">
			<!-- ========   change your logo hear   ============ -->
			<img src="~/assets/images/logo1.png" alt="" class="logo">
			<img src="~/assets/images/logo-icon.png" alt="" class="logo-thumb">
		</a>
		<a href="#!" class="mob-toggler">
			<i class="feather icon-more-vertical"></i>
		</a>
	</div>
	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
				<div class="search-bar">
					<input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
					<button type="button" class="close" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</li>

		</ul>
			<ul class="navbar-nav ml-auto">
				<li>
			<div class="dropdown">
					<a class="nav-link text-white dropdown-toggle" asp-action="Index" asp-controller="Cart">
						<i class="icon feather icon-shopping-cart"></i>		
						<span class="badge badge-pill badge-danger">5</span>
					</a>
			</div></li>
			</ul>
		
	</div>

</header>
