@using Pharmacy.Core
@model Pharmacy.Core.Catalog

@{
    ViewData["Title"] = "DeleteCatalog";
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
    var categories = ViewBag.Сategories as List<Category>;
}


<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Каталоги</a></li>
                        <li class="breadcrumb-item"><a href="#!">Видалення</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Видалити каталог?</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div>
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                </dl>



                                @if (categories != null && categories.Count() > 0)
                                {

                                    <button type="button" class="btn  btn-danger" data-toggle="modal" data-target="#exampleModalLive">Видалити</button>

                                    <div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLiveLabel">Modal Title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="mb-0">Видалення неможливе! Існують прив'язані об'єкти!</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn  btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn  btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <a asp-action="Catalogs" class="btn btn-outline-dark">Повернутися до списку / Відмінити</a>
                                }
                                else
                                {
                                    <form asp-action="DeleteCatalog">
                                        @Html.AntiForgeryToken()
                                        <input asp-for="Id" type="hidden" />
                                        <button type="submit" class="btn btn-danger">Видалити</button>
                                        <a asp-action="Catalogs" class="btn btn-outline-dark">Повернутися до списку / Відмінити</a>

                                    </form>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $('#exampleModalCenter').modal(options)
    </script>
}
