@using Pharmacy.Core
@model Pharmacy.Core.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
    var catalog = ViewBag.Catalog as IEnumerable<Catalog>;
}

<div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Категорії</a></li>
                        <li class="breadcrumb-item"><a href="#!">Редагування</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header">
                    <h5>Редагувати категорію</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <form asp-action="EditCategory">

                                @Html.AntiForgeryToken()
                                <input asp-for="Id" type="hidden" />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Catalog" class="form-label"></label>
                                    <select class="form-control" size="3" id="catalog" name="catalog">
                                        @foreach (var r in catalog)
                                        {
                                            <!option value="@r.Name">@r.Name</!option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Image" class="control-label"></label>
                                    <div class="input-group mb-3">

                                        @*<div class="custom-file">*@
                                        <input asp-for="Image" class="custom-file-input" type="file" name="picture" id="picture">
                                        <label class="custom-file-label" for="picture"></label>
                                        @*</div>*@
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group" style="margin-top:1em">
                                    <input type="submit" value="Зберегти" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="float-end">
        <a asp-action="Categories">Повернутись до списку</a>
    </div>
</div>