@{
    Layout = "~/Views/Shared/_FlatLayout.cshtml";
}

<div class="row justify-content-md-center" style="margin-top: 3em;">
    <div class="col-4" >
        <a href="~/admin/categories"  type="button" style="width:12em; margin:2em" class="btn btn-primary btn-lg">Категорії</a>
    </div>
    <div class="col-4">
        <a href="~/admin/catalogs"  type="button" style="width:12em; margin:2em" class="btn btn-primary btn-lg">Каталоги</a>
    </div>
</div>
<div class="row justify-content-md-center" style="margin-top: 3em;">
    <div class="col-4" >
        <a href="~/admin/subcategories"  type="button" style="width:12em; margin:2em" class="btn btn-primary btn-lg">Підкатегорії</a>
    </div>
    <div class="col-4">
        <a asp-action="Create" asp-controller="Medicaments" type="button" style="width:12em; margin:2em" class="btn-lg btn-primary text-center">Товари</a>
    </div>
</div>

